openapi: 3.0.1
info:
  title: 'Climate Engine API v1: climate-engine-pro Home Raster API'
  description: On-demand geospatial processing of satellite and gridded climate datasets on Google Earth Engine. The Climate Engine REST API returns timeseries, map tiles (mapid), asynchronous raster exports, zonal statistics, pre-built reports, and dataset metadata over point coordinates and GeoJSON feature collections. Datasets include Landsat, Sentinel, MODIS, GRIDMET, ERA5, CHIRPS, and many more.
  termsOfService: https://www.climateengine.com
  contact:
    name: Climate Engine
    url: https://support.climateengine.org
  version: 0.1.0
servers:
- url: https://api.climateengine.org
  description: Climate Engine production API
security:
- APIKeyHeader: []
tags:
- name: Raster
  description: Earth Engine map IDs and asynchronous raster exports.
paths:
  /raster/mapid/values:
    get:
      operationId: rasterMapidValues
      tags:
      - Raster
      summary: Mapid Values
      description: Returns an Earth Engine map ID and tile URL template for the raw values of a dataset variable over a date range, for client-side tile rendering.
      parameters:
      - $ref: '#/components/parameters/Dataset'
      - $ref: '#/components/parameters/Variable'
      - name: temporal_statistic
        in: query
        required: false
        schema:
          type: string
        description: Temporal reducer applied across the date range (e.g. mean, total).
      - $ref: '#/components/parameters/StartDate'
      - $ref: '#/components/parameters/EndDate'
      - name: bounding_box
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: Optional bounding box to constrain the rendered region.
      - name: colormap_min_max
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: Min,max values for the color map.
      - name: colormap_palette
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: Comma-separated hex colors for the color map palette.
      responses:
        '200':
          description: Map ID and tile URL template.
          content:
            application/json:
              schema:
                type: object
  /raster/export/values:
    post:
      operationId: rasterExportValues
      tags:
      - Raster
      summary: Export Values
      description: Queues an asynchronous raster export of the raw values of a dataset variable over a date range and region. Track progress via the export task endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Export task accepted.
          content:
            application/json:
              schema:
                type: object
        '422':
          $ref: '#/components/responses/ValidationError'
  /raster/export/task_update:
    get:
      operationId: rasterExportTaskUpdate
      tags:
      - Raster
      summary: Export Task Update
      description: Returns the status of a queued raster export task.
      parameters:
      - name: task_id
        in: query
        required: false
        schema:
          type: string
        description: Identifier of the export task to check.
      responses:
        '200':
          description: Task status.
          content:
            application/json:
              schema:
                type: object
  /raster/export/task_queue:
    get:
      operationId: rasterExportTaskQueue
      tags:
      - Raster
      summary: Export Task Queue
      description: Returns the authenticated user's queued raster export tasks.
      responses:
        '200':
          description: Task queue.
          content:
            application/json:
              schema:
                type: object
components:
  responses:
    ValidationError:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPValidationError'
  parameters:
    EndDate:
      name: end_date
      in: query
      required: false
      schema:
        type: string
      description: End date (YYYY-MM-DD).
    Dataset:
      name: dataset
      in: query
      required: false
      schema:
        type: string
        default: GRIDMET
      description: Dataset name (e.g. GRIDMET, ERA5, MODIS, CHIRPS).
    StartDate:
      name: start_date
      in: query
      required: false
      schema:
        type: string
      description: Start date (YYYY-MM-DD).
    Variable:
      name: variable
      in: query
      required: false
      schema:
        type: string
        default: tmmn, tmmx
      description: Comma-separated variable name(s).
  schemas:
    ValidationError:
      type: object
      title: ValidationError
      properties:
        loc:
          type: array
          items:
            type: string
        msg:
          type: string
        type:
          type: string
    HTTPValidationError:
      type: object
      title: HTTPValidationError
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Authorization
      description: API key issued by the Climate Engine team, sent in the Authorization header. Request a key from the ClimateEngine.org team.
